body{
    margin: 0;
    padding: 0;
    background-color: rgb(98,98,98);
    display: flex;
    justify-content: center;
    height: 896px;
    width: 100%;
}


a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


.container{
    width: 414px;
    height: 896px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headline{
    display: flex;
    align-items: center;
    margin-top: 90px;
    font-size: 36px;
    font-weight: 600;
}
.logo{
    width: 48px;
    height: 48px;
}
input{
    border: none;
    font-size: 20px;
}
.idBox{
    border-bottom: 1px solid rgb(98,98,98);
    padding-bottom: 7px;
    width: 329px;
    margin-top: 90px;
}
.far, .fas{
    font-size: 30px;
    margin-left: 10px;
}
.pwBox{
    border-bottom: 1px solid rgb(98,98,98);
    padding-bottom: 7px;
    width: 329px;
    margin-top: 15px;
}
.underBox{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.forget{
    font-size: 18px;
    color: rgb(172,172,172);
}
.submitBox{
    border-radius : 3px;
    color: rgb(114, 114, 114);
    width: 163px;
    height: 72px;
    cursor:pointer;
}
.line{
    width: 329px;
    margin-top: 180px;
}
.signup{
    width: 296px;
    height: 58px;
    background-color: rgb(98,98,98);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    color: white;
    font-size: 24px;
    margin-top: 55px;
}
.fa-user-plus{
    margin-right: 55px;
}
.underText{
    font-size: 18px;
    margin-top: 53px;
    font-weight: 600;
}