body{
    margin: 0;
    padding: 0;
    background-color: #979DA6;
    display: flex;
    justify-content: center;
    height: 896px;
    width: 100%;
}
a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
#idIcon, #pwIcon {
    color: rgb(0,186,255);
    border-color : 1px #000;
}
.container{
    width: 414px;
    height: 896px;
    /* background-color: #F2F2F2; */
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline{
    color : rgb(0,186,255);
    text-shadow: 1px 1px 2px #000;
    display: flex;
    align-items: center;
    margin-top: 90px;
    margin-right : 10px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.logo{
    width: 48px;
    height: 48px;
    position : relative;
    right : 10px;
}
input{
    border: none;
    font-size: 20px;
}
.idBox{
    border-bottom: 1px solid rgb(98,98,98);
    /* background-color: #F2F2F2; */
    padding-bottom: 7px;
    width: 329px;
    margin-top: 90px;
}
.far, .fas{
    font-size: 30px;
    margin-left: 10px;
}
.pwBox{
    border-bottom: 1px solid rgb(98,98,98);
    padding-bottom: 7px;
    width: 329px;
    margin-top: 15px;
}
.underBox{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.forget{
    font-size: 18px;
    color: rgb(172,172,172);
}
.submitBox{
    font-family: 'Besley', serif;
    background-color: #1F88E0;
    border-radius: 7px;
    color: white;
    width: 163px;
    height: 72px;
}
.line{
    width: 329px;
    margin-top: 180px;
}
.signup{
    width: 296px;
    height: 58px;
    border-radius : 5px;
    background-color: #1F88E0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    color: white;
    font-size: 24px;
    margin-top: 55px;
}
.fa-user-plus{
    margin-right: 55px;
}
.underText{
    font-family: 'Besley', serif;
    font-size: 18px;
    margin-top: 53px;
    font-weight: 600;
}