<!DOCTYPE html>
{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비룡이와 인덕이</title>
    <meta name = "description" content = "한이음 프로젝트 '비룡이와 인덕이'팀, 라즈베리파이 기반 얼굴인식 도어락 시스템의 사용자 출입 관리 어플리케이션입니다.">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginPage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="headline">
            <img src="{{ url_for('static', filename='image/duck.png') }}" class="logo">
            <h1>비룡이와 인덕이</h1>
        </div>
        <form action="/mainPage" class="formBox" method="GET">
            <div class="upperBox">
                <div class="idBox">
                    <i id = "idIcon"class="far fa-user"></i>
                    <input type="text" placeholder="ID" required name = "user_id">
                </div>
                <div class="pwBox">
                    <i id = "pwIcon" class="fas fa-key"></i>
                    <input type="password" placeholder="PW" required name = "user_pw" value = "f2f2f2">
                </div>
            </div>
            <div class="underBox">
                <div class="forget">forget password?</div>
                <input type="submit" value="LOGIN" class="submitBox" style="cursor:pointer;">
            </div>
        </form>
        <img src="{{ url_for('static', filename='image/line.png') }}" class="line">
        <a href='/signupPage'>
            <div class="signup">
                <i class="fas fa-user-plus" style = 'color : white'></i>
                SIGN UP
            </div>
        </a>
        <div class="underText">
            biryong induck door lock
        </div>
    </div>
</body>
</html>