<!DOCTYPE html>
{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginPage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="headline">
            <img src="{{ url_for('static', filename='image/induck.jpg') }}" class="logo">
            비룡이와 인덕이
        </div>
        <form action="/mainPage" class="formBox" method="GET">
            <div class="upperBox">
                <div class="idBox">
                    <i class="far fa-user"></i>
                    <input type="text" placeholder="ID" required name = "user_id">
                </div>
                <div class="pwBox">
                    <i class="fas fa-key"></i>
                    <input type="password" placeholder="PW" required name = "user_pw">
                </div>
            </div>
            <div class="underBox">
                <div class="forget">forget password?</div>
                <input type="submit" value="LOGIN" class="submitBox" style="cursor:pointer;">
            </div>
        </form>
        <img src="{{ url_for('static', filename='image/line.png') }}" class="line">
        <a href='/signupPage'>
            <div class="signup">
                <i class="fas fa-user-plus"></i>
                SIGN UP
            </div>
        </a>
        <div class="underText">
            biryong induck door lock
        </div>
    </div>
</body>
</html>