<!DOCTYPE html>
{%with messages = get_flashed_messages()%}
{%if messages %}
  <script type="text/javascript">
    alert("{{messages[-1]}}");
  </script>
  {%endif%}
{%endwith%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
</head>
<body>
    <div class="container">
        <div class="headline">
            <img src="{{ url_for('static', filename='image/induck.jpg') }}" class="logo">
            비룡이와 인덕이
        </div>
        <button class="btn" style="margin-top: 60px;" onclick="location.href = '/'">logout</button>
        <button class="btn" onclick="location.href = '/userinfoPage'">user information</button>
        <button class="btn" onclick="location.href = '/enterlogPage'">enter log</button>
        <button class="btn" onclick="location.href = '/openDoor'">door open</button>
        <div class="underText">
            biryong induck door lock
        </div>
    </div>
</body>
</html>